pandas==2.0.1
python-dotenv==1.1.0
gdown==5.2.0
scikit-learn==1.2.2
matplotlib==3.7.1
seaborn==0.12.2
xgboost==1.7.5
nltk==3.8.1
spacy==3.5.3
ipython==8.13.2
ipykernel==6.23.1
jupyter==1.0.0
interpret==0.4.1
lime==0.2.0.1
datasets==3.5.0
transformers==4.26.1
bert-extractive-summarizer==0.10.1
rouge-score==0.1.2
bleu==0.3
evaluate==0.4.0
accelerate==0.19.0
tensorflow==2.12.0
silence_tensorflow==1.2.3
captum==0.6.0
shap==0.41.0
python-dotenv==1.1.0
opencv-python==4.8.0.74
openai==0.27.8
shap==0.41.0


#git+https://github.com/openai/CLIP.git

# Install Torch

--extra-index-url https://download.pytorch.org/whl/cu118
torch 
torchvision 
torchaudio

